{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
    Aatukkari Kuzhambu with Steamed Rice Recipe
{% endblock %}

{% block recipeName %}
    Aatukkari Kuzhambu with Steamed Rice
{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/chettinad/Aatukkari Kuzhambu with Steamed Rice.png' %}" alt="aatukkarikuzhambuwithsteamedrice" class="center" height="500px">
{% endblock %}

{% block description %}
    South Indian lamb curry with coconut milk, tamarind and curry leaf tempering.
{% endblock %}

{% block prepTime %} 10 Min {%endblock%}
{% block cookTime %} 60 Min {%endblock%} 
{% block totalTime %} 70 Min {%endblock%} 
{% block servings %} 4 people {%endblock%} 

{% block ingredients %}
    <li>500 Gram Lamb curry (cut)</li>
    <li>200 Gram Coconut milk powder</li>
    <li>2 packet Bhuna masala</li>
    <li>1 Tbsp Coconut oil</li>
    <li>1 tsp Black mustard seeds</li>
    <li>Few Dry red chillies</li>
    <li>1 tsp Urad dal</li>
    <li>1 Tbsp Curry leaves</li>
    <li>1 tsp Garam masala powder</li>
    <li>1 tsp Black pepper powder</li>
    <li>To taste Salt</li>
    <li>1/2 tsp Star anise</li>
    <li>1/2 tsp Cinnamon</li>
    <li>1 Fresh coconut, grated</li>
    <li>1 Tbsp Tamarind paste (or tamarind soaked in water)</li>
    <li>1 tsp Jaggery (gud)</li>
    <li>Few springs Fresh coriander</li>
{% endblock %}

{% block recipe %}
    <ol>
        <li>Clean lamb. Keep it dry.</li>
        <li>Place lamb in pressure cooker along with coconut milk, one packet bhuna masala and cook till lamb is tender. Keep aside.</li>
        <li>Heat coconut oil in a pan.</li>
        <li>Add black mustard seed, red chilli, ural dal and curry leaf.</li>
        <li>Also add garam masala powder, black pepper powder, salt and whole spices like star anise and cinnamon, and sauté.</li>
        <li>Add grated coconut, sauté well.</li>
        <li>Add bhuna masala. Sauté well till it leaves the side of the pan.</li>
        <li>Add tamarind paste and jaggery. Mix well.</li>
        <li>Add coconut milk and simmer till it blends. Do not over boil.</li>
        <li>Add chopped coriander leaves.</li>
        <li>Now add cooked lamb in the coconut curry and simmer for a few minutes.</li>
        <li>Serve hot. Garnish with fried coconut chips, dry red chilli and coriander sprigs.</li>
    </ol>
{% endblock %}

{% block nutrition %}
    Energy : 1386 cal, Protein : 27.9 g, Carbohydrates : 37.9 g, Fiber : 12.5g
{% endblock %}