{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
    Chettinad Egg Curry Recipe
{% endblock %}

{% block recipeName %}
    Chettinad Egg Curry
{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/chettinad/Chettinad Egg Curry.png' %}" alt="chettinadeggcurry" class="center">
{% endblock %}

{% block description %}
    Easy to make egg curry. Hard boiled eggs tossed in masalas and sharpened with the tanginess of lemon juice.
{% endblock %}

{% block prepTime %} 05 Min {%endblock%}
{% block cookTime %} 25 Min {%endblock%} 
{% block totalTime %} 30 Min {%endblock%} 
{% block servings %} 2 people {%endblock%} 

{% block ingredients %}
    <li>6 eggs - hardboiled</li>
    <li>3 tsp coriander powder</li>
    <li>1 1/2 tsp chilli powder</li>
    <li>1 tsp fennel seeds</li>
    <li>1 tsp cumin seeds</li>
    <li>1/2 tsp turmeric</li>
    <li>1/2 ginger paste</li>
    <li>2 tsp garlic paste</li>
    <li>2 tbsp oil</li>
    <li>1/2 tsp fenugreek seeds</li>
    <li>1/2 tsp fennel seeds</li>
    <li>A 2 inch cinnamon stick</li>
    <li>3 onions, ground</li>
    <li>250 gm tomatoes, peeled,seeded & ground</li>
    <li>250 ml water</li>
    <li>350 ml coconut milk</li>
    <li>1 Tbsp lime juice</li>
    <li>Chopped coriander</li>
{% endblock %}

{% block recipe %}
    <ol>
        <li>Peel eggs and halve lengthwise.</li>
        <li>For the spice paste:</li>
        <li>Grind coriander powder, chilli powder, 1 tsp fennel seeds, cumin, turmeric, ginger and garlic together with 2 tbsp water.</li>
        <li>Heat oil, fry fenugreek and fennel seeds with the cinnamon for 10 seconds. Stir in onion. Cook until golden.</li>
        <li>Add spice paste, cook once more for 5 minutes pouring in a little water to prevent scorching. Stir in tomatoes.</li>
        <li>After 3 minutes, pour in water and simmer for 15 minutes.</li>
        <li>Pour in coconut milk. Reheat. Sharpen with limejuice. Season.</li>
        <li>Add eggs and serve.</li>
    </ol>
{% endblock %}

{% block nutrition %}
    Energy : 1282 cal, Protein : 18.9 g, Carbohydrates : 32.1 g, Fiber : 15.8g
{% endblock %}