{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
    Chettinad Fish Fry Recipe
{% endblock %}

{% block recipeName %}
    Chettinad Fish Fry
{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/Chettinad/chettinad Fish Fry.png' %}" alt="chettinadfishfry" class="center">
{% endblock %}

{% block description %}
    A speciality from the Chettinad region of Tamil Nadu, this fish fry recipe has a host of delectable spices used for marination giving it a unique touch. Surmai fish pieces are marinated and then pan fried till crisp.
{% endblock %}

{% block prepTime %} 10 Min {%endblock%}
{% block cookTime %} 40 Min {%endblock%} 
{% block totalTime %} 50 Min {%endblock%} 
{% block servings %} 4 people {%endblock%} 

{% block ingredients %}
    <li>2 Surmai fillets(king fish)</li>
    <li>2 tbsp oil (to pan fry)</li>
    <h2 style="font-size: 150%;">For the marination:</h2>
    <li>7-8 Garlic cloves</li>
    <li>1 ginger knob, mashed</li>
    <li>1 tsp cumin</li>
    <li>1 tsp fennel</li>
    <li>2 tsp coriander seeds</li>
    <li>2 tsp black peppercorns</li>
    <li>1/2 tsp mustard seeds</li>
    <li>9-10 Curry leaves</li>
    <li>to taste salt</li>
    <li>1 tsp oil (to grind)</li>
    <li>1 tbsp water</li>
    <li>1/2 tomato, chopped</li>
    <li>1 tsp red chilli powder</li>
    <li>2 tsp turmeric powder</li>
    <li>5 tsp tamarind extract</li>
    <li>1 tbsp cornflour (to sprinkle)</li>
    <li>Lemon wedges</li>
{% endblock %}

{% block recipe %}
    <ol>
        <li>Cut the fish fillets into equal medium sized pieces.</li>
        <li>In a pan, dry roast garlic, ginger, cumin, fennel, coriander seeds, black peppercorns, mustard seeds and curry leaves.</li>
        <li>Pound them in a mortar and pestle. Add a little salt, oil and water to help in the procedure.</li>
        <li>Now add the chopped tomato, turmeric powder, red chili powder, salt and tamarind extract.</li>
        <li>Pound them together till pulp like and spread it over the fish pieces.</li>
        <li>Sprinkle some cornflour over the fish. The cornflour helps the masala to stick</li>
        <li>Marinate the fish and keep in the fridge for 15-20 minutes.</li>
        <li>In a pan, fry the fish with the refined oil.</li>
        <li>Serve hot with a bit of lemon squeezed over and a few lemon wedges on the side.</li>
    </ol>
{% endblock %}

{% block nutrition %}
    Energy : 1340 cal, Protein : 25.9 g, Carbohydrates : 17.5 g, Fiber : 4.3g
{% endblock %}