{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
    Mushroom Chettinad Recipe
{% endblock %}

{% block recipeName %}
    Mushroom Chettinad
{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/chettinad/Mushroom Chettinad.png' %}" alt="mushroomchettinad" class="center">
{% endblock %}

{% block description %}
    Spicy and tangy mushrooms cooked in a gravy made with tamarind extract, coconut and chillies. Mushroom Chettinad can be served with rotis or rice.
{% endblock %}

{% block prepTime %} 05 Min {%endblock%}
{% block cookTime %} 40 Min {%endblock%} 
{% block totalTime %} 45 Min {%endblock%} 
{% block servings %} 5 people {%endblock%} 

{% block ingredients %}
    <li>150 gms mushroom</li>
    <li>1/2 coconut, grated</li>
    <li>10 pcs garlic</li>
    <li>1 small ginger</li>
    <li>1/2 tbsp cloves</li>
    <li>1 tbsp coriander seeds</li>
    <li>1 tbsp black pepper</li>
    <li>2 pcs casia</li>
    <li>1 tbsp cumin seeds</li>
    <li>1/2 tbsp fennel</li>
    <li>Few curry leaves</li>
    <li>1 tsp red chili powder</li>
    <li>1 tsp turmeric powder</li>
    <li>Sea salt</li>
    <li>2 tbsp coconut oil</li>
    <li>3 Kashmiri red chilli</li>
    <li>1/2 tbsp methi seeds</li>
    <li>1/2 tbsp fenugreek seeds</li>
    <li>1/2 tbsp split gram</li>
    <li>1 onion, julienne</li>
    <li>1 Tomato, chopped</li>
    <li>3 1/2 tbsp tamarind extract</li>
    <li>1/2 Lime</li>
    <li>Fresh coriander leaves</li>
    <li>Curry leaves</li>
{% endblock %}

{% block recipe %}
    <ol>
        <li>In a pan toss grated coconut, garlic, cloves, coriander seeds, black pepper, casia, cumin seeds, fennel, curry leaves, red chili powder, turmeric powder, sea salt.</li>
        <li>Pound them with little oil and water in Mortar and Pestle.</li>
        <li>In a different pan, add coconut oil, kashmiri chili, methi seeds/ fenugreek seeds, split gram, curry leaves, julianned onion and mix them all together.</li>
        <li>Add the mortar and pestle paste into this mixture and mix them well.</li>
        <li>One by one add chopped tomatoes, tamarind extract, mushroom, lime, coriander and water. Mix the mushrooms well in the masalas.</li>
        <li>Serve the mushroom chettinad hot.</li>
    </ol>
{% endblock %}

{% block nutrition %}
    Energy : 967 cal, Protein : 10.1 g, Carbohydrates : 39.5 g, Fiber : 28.1g
{% endblock %}