{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
    Paal Payasam Recipe
{% endblock %}

{% block recipeName %}
    Paal Payasam
{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/chettinad/Paal Payasam.png' %}" alt="paalpayasam" class="center">
{% endblock %}

{% block description %}
    A delicious, creamy, rice and milk pudding with cashews and raisins, paal payasam is a south Indian dessert, a version of kheer, made on various festivals and celebratory occasions like onam. It is a simple recipe with richness of nuts and goodness of milk. Payasam is often offered as 'prasadam' in various temples and pujas across the country. There are many variations of payasam, from moong dal payasam to coconut payasam, but here is a payasam recipe which is the easiest and simplest of them all. With a luscious creamy layer, garnished with nuts, you might just need no reason at all to make this other than a heart indulgence!
{% endblock %}

{% block prepTime %} 10 Min {%endblock%}
{% block cookTime %} 45 Min {%endblock%} 
{% block totalTime %} 55 Min {%endblock%} 
{% block servings %} 4 people {%endblock%} 

{% block ingredients %}
    <li>50 gms rice</li>
    <li>1 litre milk</li>
    <li>5 gram cardamom powder</li>
    <li>100 gms sugar</li>
    <li>50 ml ghee (clarified butter)</li>
    <li>50 gms cashew nuts</li>
    <li>25 gms raisins</li>
{% endblock %}

{% block recipe %}
    <ol>
        <li>Wash and soak the rice for 1/2 an hour.</li>
        <li>Cook the rice in milk until soft.</li>
        <li>Add cardamom powder, sugar and stir until the sugar is dissolved.</li>
        <li>Heat ghee in a pan and add the cashew nuts.</li>
        <li>When the cashew nuts are slightly golden, add the raisins and saute for a minute.</li>
        <li>Pour on the rice mixture and serve warm.</li>
    </ol>
{% endblock %}

{% block nutrition %}
    Energy : 687 cal, Protein : 1.9 g, Carbohydrates : 34.3 g, Fiber : 9.8g
{% endblock %}