{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
    Andhra Style Chicken Curry Recipe
{% endblock %}

{% block recipeName %}
    Andhra Style Chicken Curry
{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/Andhra/Andhra Style Chicken Curry.png' %}" alt="andhrastylechickencurry" class="center">
{% endblock %}

{% block description %}
Also known as Andhra Kodi Kura, this chicken curry recipe is by Chef Srinu from the Southern Spice restaurant. Andhra cuisine is famous for ts fiery hot and spicy food and this chicken recipe here is no exception. An authentic Andhra recipe full of spice and rich gravy. Andhra chicken curry though has many versions, like in coastal regions it is cooked with ground coconut or coconut milk, this one is without any. A real quick and easy chicken recipe that can be cooked within an hour but looks exquisite and elaborate for a dinner party. Full of rich spices, herbs and cashews, this one is not to be missed!
{% endblock %}

{% block prepTime %} 20 Min {%endblock%}
{% block cookTime %} 35 Min {%endblock%} 
{% block totalTime %} 55 Min {%endblock%} 
{% block servings %} 4 people {%endblock%} 

{% block ingredients %}
    <li>3 Tbsp refined oil</li>
    <li>1 Bay leaf</li>
    <li>3 Green cardamom</li>
    <li>3 Cloves</li>
    <li>1 small cinnamon stick</li>
    <li>1 onion, sliced</li>
    <li>1 tbsp ginger-garlic paste</li>
    <li>1/2 kg chicken (cut into bite size pieces)</li>
    <li>1 tsp turmeric</li>
    <li>2 cups water</li>
    <li>Salt to taste</li>
    <li>2 Green chillies (slit)</li>
    <li>Handful of curry leaves</li>
    <li>2 tsp red chilli powder</li>
    <li>2 tbsp cashew nuts - poppy seed paste (Soak 15 cashews and 1 Tbsp poppy seed in a cup of milk for an hour. Grind it into a paste.)</li>
    <li>2 tsp chicken masala</li>
    <li>2 tsp kasoori methi</li>
    <li>1 tsp garam masala</li>
    <li>2 tsp dhaniya powder</li>
    <li>for garnishing coriander leaves, chopped</li>
{% endblock %}


{% block recipe %}
    <ol>
        <li>In a wok add refined oil. Add a bay leaf, green cardamom, cloves, cinnamon. Let them release the aroma.</li>
        <li>Now add onions. Saute till golden brown and then add the ginger-garlic paste. Mix and add the chicken pieces. Saute till they start to color a bit.</li>
        <li>Now add the turmeric and salt. Toss and add water.</li>
        <li>Add the green chilli and curry leaves. Let the curry simmer.</li>
        <li>Add the red chilli powder, cashew nut -poppy seed paste, chicken masala, kasoori methi, garam masala and dhaniya powder. Mix well and let the curry simmer till the chicken is cooked. Add more water if required.</li>
        <li>Garnish with coriander leaves and serve with steamed rice.</li>
    </ol>
{% endblock %}

{% block nutrition %}
    Energy : 675 cal, Protein : 15.6 g, Carbohydrates : 19.2 g, Fiber : 12.6g
{% endblock %}