{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
    Hyderabadi Biryani Recipe
{% endblock %}

{% block recipeName %}
    Hyderabadi Biryani
{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/Andhra/Hyderabadi Biriyani.png' %}" alt="hyderabadibiryani" class="center">
{% endblock %}

{% block description %}
One of the most popular biryani recipe, Hyderabadi Biryani is a dish from down the south but spread all across the country and even abroad. This flavourful and delicious gastronomic wonder is a treat to relish on and is often cooked for dinner parties in north Indian kitchens. Create it at home to make a mark at your dinner party!
{% endblock %}

{% block prepTime %} 20 Min {%endblock%}
{% block cookTime %} 70 Min {%endblock%} 
{% block totalTime %} 90 Min {%endblock%} 
{% block servings %} 2 people {%endblock%} 

{% block ingredients %}
    <li>1 Kg meat</li>
    <li>1 tbsp salt</li>
    <li>1 tbsp ginger garlic paste</li>
    <li>1 tbsp red chilli paste</li>
    <li>1 tbsp green chilli paste (sauteed brown onions to taste)</li>
    <li>1/2 tbsp cardamom powder</li>
    <li>3-4 Cinnamon sticks</li>
    <li>1 tbsp cumin seeds</li>
    <li>4 Cloves</li>
    <li>A pinch of mace</li>
    <li>to taste mint leaves</li>
    <li>2 tbsp lemon juice</li>
    <li>250 gms curd</li>
    <li>4 tbsp clarified butter</li>
    <li>750 gms semi cooked rice</li>
    <li>1 tsp saffron</li>
    <li>1/2 cup water</li>
    <li>1/2 cup oil</li>
   {% endblock %}

{% block recipe %}
    <ol>
        <li>Clean the meat. Now in a pan add meat, salt, ginger garlic paste, red chilli powder, green chilli paste, sauteed brown onions, cardamom powder, cinnamon, cumin seeds, cloves, mace, mint leaves and lemon juice.</li>
        <li>Mix all of these ingredients thoroughly together.</li>
        <li>Add curd, clarified butter, semi cooked rice, saffron, water and oil. Mix it well.</li>
        <li>Now apply sticky dough on the sides of the pan.</li>
        <li>Cover with lid to seal it and cook for about 25 minutes.</li>s, sliced carrots, cucumbers and serve hot.</li>
        <li>Hyderabadi Biryani is ready to eat. Garnish it with boiled egg
    </ol>
{% endblock %}

{% block nutrition %}
    Energy : 1352 cal, Protein : 30.1 g, Carbohydrates : 29.5 g, Fiber : 13.3g
{% endblock %}