{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
    Shikampuri Kebab Recipe
{% endblock %}

{% block recipeName %}
    Shikampuri Kebab
{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/Andhra/Shikampuri Kebabs.png' %}" alt="shikampurikebab" class="center">
{% endblock %}

{% block description %}
Exotic kebabs from the Royal Kitchens of Hyderabad graciously stuffed with hung yogurt, green chillies, onions and coriander. You may not be able to stop at just one!
{% endblock %}

{% block cookTime %} 40 Min {%endblock%} 
{% block totalTime %} 40 Min {%endblock%} 
{% block servings %} 1 person {%endblock%} 

{% block ingredients %}
    <li>500 gm mutton mince</li>
    <li>1/4 cup channa daal</li>
    <li>2 Tbsp cooking oil</li>
    <li>6 green cardamoms (choti elaichi)</li>
    <li>4 cloves (laung)</li>
    <li>1/2 tsp allspice (kebab chini)</li>
    <li>2 sticks cinnamon (dalchini)</li>
    <li>2 bunches mountain moss or pathar ke phool (optional)</li>
    <li>1/2 tsp black cumin seeds (shahi jeera)</li>
    <li>100 gm onion</li>
    <li>20 flakes garlic</li>
    <li>1 tsp red chillie powder</li>
    <li>1/2 tsp turmeric</li>
    <li>2 Tbsp - fresh coriander</li>
    <li>2 Tbsp fresh mint</li>
    <li>2 green chillies oil to shallow fry For the filling 250 gm hung yogurt</li>
    <li>200 gm onions</li>
    <li>2 green chillies</li>
    <li>2 Tbsp taaza dhaniya</li>
    <li>2 Tbsp taaza pudina</li>
    <li>1 tsp black pepper salt</li>
{% endblock %}

{% block recipe %}
    <ol>
        <li>Heat oil in a handi. Add green cardamom, cloves, allspice powder, cinnamon, mountain moss and royal cumin seeds.</li>
        <li>Stir over medium heat.</li>
        <li>Now add the meat (no fat).</li>
        <li>Add onions and garlic, then the channa daal, salt, red chillies and turmeric.</li>
        <li>Add coriander, mint, green chillies and stir.</li>
        <li>Add 2 cups of water. Bring to a boil till the daal is cooked and the water is completely absorbed.</li>
        <li>When the meat is cooked, remove, cool and transfer to a blender and mince.</li>
        <li>For the filling, take hung yogurt, add onions, deseeded green chillies, chopped coriander and mint.</li>
        <li>Add black pepper and mix it all in a bowl.</li>
        <li>Now flatten each mince ball, place a portion of the filling in the middle and cover to make 3/4 inch patties.</li>
        <li>Heat a little oil in a kadai and shallow fry the kebabs for 3-4 minutes, till they look brown.</li>
    </ol>
{% endblock %}

{% block nutrition %}
    Energy : 2127 cal, Protein : 29.9 g, Carbohydrates : 17.3 g, Fiber : 8.9g
{% endblock %}