{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
    Panasa Puttu Koora Recipe
{% endblock %}

{% block recipeName %}
    Panasa Puttu Koora
{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/Andhra/Panasa Puttu Koora (Andhra Jackfruit Curry).png' %}" alt="panasaputtukoora" class="center">
{% endblock %}

{% block description %}
A popular Andhra curry made with jackfruit. Jackfruit marinated in spices, tossed with masalas and served with steamed rice.
{% endblock %}

{% block prepTime %} 10 Min {%endblock%}
{% block cookTime %} 40 Min {%endblock%} 
{% block totalTime %} 50 Min {%endblock%} 
{% block servings %} 4 people {%endblock%} 

{% block ingredients %}
        <li>300 gm jackfruit (Kathal)</li>
        <li>Salt, to taste</li>
        <li>Turmeric powder, to taste</li>
        <li>2-3 tsp oil</li>
        <li>For the main preparation:</li>
        <li>3 Tbsp oil</li>
        <li>1/4 tsp cumin seeds</li>
        <li>1/4 tsp mustard seeds</li>
        <li>4-5 curry leaves</li>
        <li>1 tsp garlic paste</li>
        <li>2 1/2 tsp chopped onion</li>
        <li>Pinch of turmeric powder</li>
        <li>1 tsp crushed red chillies</li>
        <li>2 Tbsp chopped tomatoes</li>
        <li>1/2 tsp salt</li>
        <li>4-5 tsp tamarind water</li>
        <li>Prepared jack fruit</li>
        <li>Chopped coriander leaves to taste</li>
        <li>Cashewnuts to taste</li>
        <li>1/4 tsp garam masala</li>
       {%endblock%}

{% block recipe %}
    <ol>
        <li>Chop jackfruit into tiny pieces.</li>
        <li>Marinate the chicken drumsticks with turmeric, ginger garlic paste, green chilli paste, salt and lemon juice. In a kadai heat oil and add cumin seeds.</li>
        <li>Now boil them in water and keep aside.</li>
        <h3><u>For the main preparation:</u></h3>
        <li>Heat oil in pan. Add cumin seeds, mustard seeds, curry leaves, garlic paste, chopped onions, turmeric powder, crushed red chillies, chopped tomatoes salt and tamarind water.</li>
        <li>Saute till the onions turn light brown. Now add the prepared jackfruit, chopped coriander leaves, cashew nuts and garam masala. Mix it well.</li>
        <li>Panas Puttu Koora is ready to eat. Serve hot with rice.</li>
    </ol>
{% endblock %}

{% block nutrition %}
    Energy : 219 cal, Protein : 2.1 g, Carbohydrates : 33.5 g, Fiber : 28.1g
{% endblock %}