{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
    Andhra Pepper Chicken Recipe
{% endblock %}

{% block recipeName %}
    Andhra Pepper Chicken
{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/andhra/Andhra Pepper Chicken.png' %}" alt="andhrapepperchicken" class="center">
{% endblock %}

{% block description %}
Chicken marinated with coriander and lemon and cooked on high heat with curry leaves.
{% endblock %}

{% block prepTime %} 15 Min {%endblock%}
{% block cookTime %} 45 Min {%endblock%} 
{% block totalTime %} 60 Min {%endblock%} 
{% block servings %} 4 people {%endblock%} 

{% block ingredients %}
    <li>500 gm chicken drumsticks</li>
    <li>10 gm turmeric</li>
    <li>50 gm ginger garlic paste</li>
    <li>100 gm green chilli paste</li>
    <li>Salt to taste</li>
    <li>50 ml lemon juice</li>
    <li>Oil to pan fry</li>
    <li>5 gm cumin seeds</li>
    <li>2 gm curry leaves</li>
    <li>100 gm onions</li>
    <li>Salt to taste</li>
    <li>50 gm coriander powder</li>
    <li>50 gm crushed pepper</li>
    <li>50 gm coriander leaves</li>
{% endblock %}

{% block recipe %}
    <ol>
        <li>Chop the onions and the coriander leaves.</li>
        <li>Marinate the chicken drumsticks with turmeric, ginger garlic paste, green chilli paste, salt and lemon juice. In a kadai heat oil and add cumin seeds.</li>
        <li>After they crackle, add the chopped onions and saute till they turn golden.</li>
        <li>Add curry leaves, coriander powder and crushed pepper. Saute for 2 more minutes and add the marinated chicken.</li>
        <li>Sear on high flame, then reduce heat and cook for a further 15 minutes stirring occasionally.</li>
        <li>Sprinkle chopped coriander leaves and cook for 2 minutes.</li>
        <li>Before serving garnish with more crushed pepper and coriander leaves.</li>
    </ol>
{% endblock %}

{% block nutrition %}
    Energy : 2312 cal, Protein : 30.1 g, Carbohydrates : 17.5 g, Fiber : 12.1g
{% endblock %}