{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
    Sarson Ka Saag Aur Makki Ki Roti Recipe
{% endblock %}

{% block recipeName %}
    Sarson Ka Saag Aur Makki Ki Roti
{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/punjabi/Sarson Ka Saag Aur Makki Ki Roti.png' %}" alt="sarsonkasaagaurmakkikiroti" class="center">
{% endblock %}

{% block description %}
    The classic Punjabi dish: Sarson da saag te makki di roti. Best had with some white butter, jaggery or honey.This winter special combination of meal makes everyone drool in winters. As a traditional punjabi dish, saag means green and sarso means mustard.
{% endblock %}

{% block prepTime %} 10 Min {%endblock%}
{% block cookTime %} 130 Min {%endblock%} 
{% block totalTime %} 140 Min {%endblock%} 
{% block servings %} 4 people {%endblock%} 

{% block ingredients %}
    <h3><u>For Saag:</u></h2>
    <li>750 gms sarson saag</li>
    <li>250 gms palak saag</li>
    <li>250 gms bathua saag</li>
    <li>2 cups water with a pinch of salt</li>
    <li>1 1/2 cup makki atta</li>
    <li>4 Green chilli</li>
    <li>25 gms ginger</li>
    <li>2 Onions</li>
    <li>6 Garlic cloves</li>
    <li>100 gms ghee</li>
    <li>1/2 tsp red pepper powder</li>
    <li>1/2 tsp garam masala</li>
    <li>1/2 tsp coriander powder</li>
    <h3><u>For Makki ki Roti:</u></h3>
    <li>1/2 kg makki Atta</li>
    <li>Water (for kneading)</li>
    <li>Ghee (for frying)</li>
{% endblock %}

{% block recipe %}
    <h4 style="font-size: 150%;">Prepare the Saag:</h4>
    <ol>
        <li>Add the three saags, salt and water into pressure cooker & cook over low heat for 1 1/2 hours.</li>
        <li>Squeeze out saag and keep saag water aside. Mash saag in the cooker until coarsely ground, and add makki atta and stir.</li>
        <li>Put back saag water and a little fresh water & boil over slow fire.</li>
        <li>Add green chillies & ginger & cook till saag gets thick.</li>
        <li>For tadka, add chopped onions, ginger, garlic, red pepper powder; garam masala, dhania & saute until onions are light brown.</li>
        <li>Mix into saag & garnish with julienne of ginger fried in ghee.</li>
    </ol>
    <h5 style="font-size: 150%;">Prepare Makki ki Roti:</h5>
    <ol>
        <li>Knead the makki atta until it becomes a ball, add atta to dry it & knead.</li>
        <li>Heat the tava and add a little ghee so that it does not stick.</li>
        <li>Make round shapes of makki roti on chakla & carefully transfer to the tava.</li>
        <li>Cook with ghee till golden brown.</li>
        <li>Serve with hot sarson da saag and gur and white butter.</li>
    </ol>
{% endblock %}

{% block nutrition %}
    Energy : 1963 cal, Protein : 11.9 g, Carbohydrates : 37.1 g, Fiber : 19.1g
{% endblock %}