{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
    Dum Aloo Recipe
{% endblock %}

{% block recipeName %}
    Dum Aloo

{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/kashmiri/Dum Aloo.png' %}" alt="Dum Aloo" class="center">
{% endblock %}

{% block description %}
        A recipe that's easy and extremely satisfying. Golden fried potatoes are mixed with yogurt and aromatic spice to give an amazing red curry.
{% endblock %}

{% block prepTime %} 10 Min {%endblock%}
{% block cookTime %} 30 Min {%endblock%} 
{% block totalTime %} 40 Min {%endblock%} 
{% block servings %} 6 people {%endblock%} 

{% block ingredients %}
    <li>1/2 Kg potatoes, medium</li>
    <li>Oil</li>
    <li>Water</li>
    <li>1 tsp Kashmiri red chilli powder</li>
    <li>2 1/2 tsp garam masala</li>
    <li>2 tsp saunth</li>
    <li>1 tsp saunf powder</li>
    <li>2 Green cardamom</li>
    <li>2-3 tbsp curd</li>
    <li>to taste salt</li>
{% endblock %}

{% block recipe %}
    <ol>
        <li>Cut the potatoes in half, deep fry them and keep aside..</li>
        <li>Prick the potatoes with a toothpick and keep aside.</li>
        <li>Mix all the dry powders in a bowl. Add enough water to the bowl to make a paste.</li>
        <li>Heat the oil in a pan and add the cardamom. Pour in the paste and stir for about 4-5 minutes</li>
        <li>Add the potatoes and mix well. Then mix in the curd.</li>
        <li>Cover and cook for five minutes. Serve hot with rice.</li>
        <li>Serve hot with rice.</li>
    </ol>
{% endblock %}

{% block nutrition %}
Calories: 286.22 Kcal  Calcium: 34.67  Iron: 2.46mg   Sodium: 30.34mg
{% endblock %}