{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
Khatte Baingan Recipe
{% endblock %}

{% block recipeName %}
Khatte Baingan

{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/kashmiri/Khatte Baingan.png' %}" alt=" Khatte Baingan" class="center">
{% endblock %}

{% block description %}
This is usually served as a side dish in Kashmiri feasts and ceremonies for it's pop flavours. It's essentially golden fried aubergines laced in a thick, spicy and zingy gravy.
{% endblock %}

{% block prepTime %} 05 Min {%endblock%}
{% block cookTime %} 40 Min {%endblock%} 
{% block totalTime %} 45 Min {%endblock%} 
{% block servings %} 4 people {%endblock%} 

{% block ingredients %}
    <li>3 Tbsp mustard oil</li>
    <li>1 cinnamon stick</li>
    <li>1 Tbsp cumin seeds (zeera)</li>
    <li>5 green cardamom (elaichi)</li>
    <li>1 Tbsp kashmiri red chillies</li>
    <li>1/2 tsp asafoetida (hing)</li>
    <li>1/2 tsp turmeric powder (haldi)</li>
    <li>1/2 tsp coriander powder (sookha dhaniya powder)</li>
    <li>Salt, to taste</li>
    <li>1 Tbsp dry ginger powder (saunth powder)</li>
    <li>2 sliced onion</li>
    <li>5 long brinjals</li>
    <li>1 sliced tomato</li>
    <li>1 tsp fennel seeds (saunf)</li>
    <li>Coriander leaves, to garnish</li>
    <li>1/2 lime</li>

    
{% endblock %}

{% block recipe %}
    <ol>
        <li>In a wok (kadai) add mustard oil, cinnamon, cumin seeds, green cardamoms, kashmiri red chilies, asafoetida powder, turmeric powder, coriander powder and little salt. Mix them well together and add little water.</li>
        <li>Add dry ginger powder and combine them together.</li>
        <li>Add sliced onion and brinjals. Fry them well together.</li>
        <li>Cover them and let the brinjals cook for 20 mintues.</li>
        <li>Add the sliced tomatoes, fennel seeds and little water.</li>
        <li>Let the tomatoes cook.</li>
        <li>Sprinkle some coriander leaves and lime.</li>
        <li>Serve the Kashmiri khatte baingan hot.</li>
    </ol>
{% endblock %}

{% block nutrition %}
    Energy : 287 cal, Protein : 10.9 g, Carbohydrates : 37.5 g, Fiber : 8.1g
{% endblock %}