{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
Kashmiri style mutton ribs Recipe
{% endblock %}

{% block recipeName %}
Kashmiri style mutton ribs

{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/kashmiri/Kashmiri style mutton ribs.png' %}" alt="Kashmiri style mutton ribs" class="center">
{% endblock %}

{% block description %}
How do you get the perfect crackling mutton ribs? Cook them in milk and spices, wrap them up in gram flour batter and fry them till they turn golden.{% endblock %}

{% block prepTime %} 10 Min {%endblock%}
{% block cookTime %} 60 Min {%endblock%} 
{% block totalTime %} 70 Min {%endblock%} 
{% block servings %} 3 people {%endblock%} 

{% block ingredients %}
    <li>1 kg rib cage (only the membranous part of the ribs, not the chop), un-separated</li>
    <li>5 liters water</li>
    <li>4 1/2 tsp ground garlic</li>
    <li>3 1/2 tsp salt</li>
    <li>12 1/2 cups cold water</li>
    <li>2 tsp salt</li>
    <li>2 tsp dry ginger powder</li>
    <li>8 cloves</li>
    <li>8 black cardamom</li>
    <li>3 1/2 tsp turmeric powder</li>
    <li>2 1/2 cups pure ghee</li>

    
{% endblock %}

{% block recipe %}
    <ol>
        <li>Bring the water to a boil; add the ribs. Continue to boil, removing the scum that rises to the surface. Repeat until the water is clear. Boil covered till the ribs are half done.</li>
        <li>Add the garlic and mix well. Continue to boil for another 10 minutes.</li>
        <li>Add the salt and boil covered, continuously till the membrane between the ribs can be pierced with the thumb.</li>
        <li>Remove the pan from the heat and drain the water.</li>
        <li>Cool the ribs and then immerse in a pan of cold water. Wash thoroughly and keep them aside. Do not discard this water.</li>
        <li>Chop the ribs with a heavy, sharp knife into 8 equal rectangular pieces.</li>
        <li>Boil the water in which the ribs were washed.</li>
        <li>Add the chopped ribs, salt, dry ginger powder, cloves, black cardamoms and turmeric powder. Mix well.</li>
        <li>Let it boil until the bones can be extracted from the membrane easily.</li>
        <li>Remove the pan from the heat and take out the ribs with a slotted spoon. Keep aside.</li>
        <li>Discard the water.</li>
        <li>Arrange the ribs in a large frying pan, so that they don't overlap.</li>
        <li>Pour the ghee over them. Fry until they are reddish brown all over. Turn occasionally.</li>
        <li>Drain out the ghee before serving.</li>
    </ol>
{% endblock %}

{% block nutrition %}
    Energy : 287 cal, Protein : 10.9 g, Carbohydrates : 37.5 g, Fiber : 8.1g
{% endblock %}