{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
Nadroo Yakhni Recipe
{% endblock %}

{% block recipeName %}
Nadroo Yakhni

{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/kashmiri/Nadroo Yakhni.png' %}" alt="Nadroo Yakhni" class="center">
{% endblock %}

{% block description %}
Yakhni is a popular yogurt based Kashmiri curry and this version is made with crunchy lotus stem. It's infused with cardamom ginger, bay leaves and balanced out with rich curd.
{% endblock %}

{% block prepTime %} 10 Min {%endblock%}
{% block cookTime %} 30 Min {%endblock%} 
{% block totalTime %} 40 Min {%endblock%} 
{% block servings %} 4 people {%endblock%} 

{% block ingredients %}
    <li>500 gms lotus stem</li>
    <li>500 gms yogurt</li>
    <li>100 gms ghee</li>
    <li>25 gms dry ginger powder</li>
    <li>25 gms green cardamom powder</li>
    <li>50 gms fennel powder</li>
    <li>2 gms bay leaves</li>
    <li> 5 gms asafoetida</li>
    <li>to taste salt</li>
   

    
{% endblock %}

{% block recipe %}
    <ol>
        <li>Cut the lotus stem into 1/2 inch pieces.</li>
        <li>Whip the yoghurt.</li>
        <li>Boil 1 litre of water and cook lotus stems for 10 minutes.</li>
        <li>Add all the ingredients and cook briskly for another 15 minutes stirring constantly until the lotus root is tender and the gravy is creamy.</li>
        <li>Serve as an accompaniment with rice.</li>
        
    </ol>
{% endblock %}

{% block nutrition %}
    Energy : 287 cal, Protein : 10.9 g, Carbohydrates : 37.5 g, Fiber : 8.1g
{% endblock %}