{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
Mutton Rogan Josh Recipe
{% endblock %}

{% block recipeName %}
Mutton Rogan Josh

{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/kashmiri/Mutton Rogan Josh.png' %}" alt="Mutton Rogan Josh" class="center">
{% endblock %}

{% block description %}
The Waza brothers bring to you the original rogan josh recipe from the valley. Its absolutely mouth watering and irresistible.
{% endblock %}

{% block prepTime %} 10 Min {%endblock%}
{% block cookTime %} 60 Min {%endblock%} 
{% block totalTime %} 70 Min {%endblock%} 
{% block servings %} 4 people {%endblock%} 

{% block ingredients %}
    <li>1 Kg meat-cut into pieces</li>
    <li>5 cups water</li>
    <li>2 1/4 tsp salt</li>
    <li>1 tbsp ground garlic</li>
    <li>4 Cloves</li>
    <li>8 Green cardamoms</li>
    <li>5 tsp turmeric powder</li>
    <li>4 tsp Kashmiri red chilli powder-dissolved in a cup of water</li>
    <li>1/2 tsp 1saffron-ground and added to 2 tbsp warm water</li>
    <li>1 cup dry cockscomb (mawal) flowers-heated with a cup of water</li>
    <li> 1/4 tsp black pepper powder</li>

    
{% endblock %}

{% block recipe %}
    <ol>
        <li>Boil the meat in the water; remove the scum with a ladle until the water is clear.</li>
        <li>Add the salt and the garlic. Boil until the meat is half done.</li>
        <li>Remove from heat and take out the pieces of the meat. Wash them in a pan of cold water. Keep the meat aside. Then strain the water through a fine sieve and collect it in another pan.</li>
        <li>Return this pan to the heat and bring the water to a boil and add the meat. Meanwhile, heat the ghee in a pan; add the cloves, and saute until they crackle.</li>
        <li>Remove from heat and sprinkle a tbsp of water and cover.</li>
        <li>To the boiling water, add the green cardamoms, turmeric powder, clove-flavored ghee and the onion paste. Boil for another 10 minutes.</li>
        <li>Stir in the red chilli water. Reduce heat and cook covered until the meat is tender.</li>
        <li>Add the cockscomb flower extract, saffron water and black pepper powder.</li>
        <li>Mix well and bring rapidly to a boil.</li>
               
    </ol>
{% endblock %}

{% block nutrition %}
    Energy : 287 cal, Protein : 10.9 g, Carbohydrates : 37.5 g, Fiber : 8.1g
{% endblock %}