{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
Kashmiri Saag Recipe
{% endblock %}

{% block recipeName %}
Kashmiri Saag

{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/kashmiri/Kashmiri Saag.png' %}" alt="Kashmiri Saag" class="center">
{% endblock %}

{% block description %}
Spinach (saag) cooked Kashmiri style, in mustard oil and spiced mildly.
{% endblock %}

{% block prepTime %} 15 Min {%endblock%}
{% block cookTime %} 35 Min {%endblock%} 
{% block totalTime %} 50 Min {%endblock%} 
{% block servings %} 4 people {%endblock%} 

{% block ingredients %}
    <li>7 Tbsp Mustard oil</li>
    <li>3 Brown cardamom</li>
    <li>10 Kashmiri whole chillies</li>
    <li>25 Whole garlic</li>
    <li>250 gram Whole spinach</li>
    <li>to taste Salt</li>
    
    
    
    
{% endblock %}

{% block recipe %}
    <ol>
        <li>In a pressure cooker add mustard oil, brown cardamom, kashmiri whole chillies, whole garlic, whole spinach (saag), little salt and water.</li>
        <li>Put all of the above in a pressure cooker and let the spinach (saag) cook till 1 whistle.</li>
        <li>Serve the Kashmiri Saag steaming hot.</li>
    </ol>
{% endblock %}

{% block nutrition %}
Carbs: 43g, Fats:7.8g, Protien:6.6g
{% endblock %}