{% extends 'all_recipe/layout.html' %}
{% load static %}
{% block title %}
    Kashmiri Dishes
{% endblock %}

{% block css %}
    <style>
        body {
            background-image: linear-gradient(#feada6, #f5efef);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center center;
        }

        .flex-container {
            display: flex;
            flex-wrap: wrap;
        }

        .flex-container > div {
            width: 400px;
            padding: 20px;
            margin: 0 auto;
            margin-top: 12px;
            text-align: center;
            font-size: 30px;
        }

        img {
            height: 200px;
        }
    </style>
{% endblock %}

{% block body %}

    <a href="{% url 'index' %}"> <i class="fa fa-home" style="float: left; font-size: 35px; padding: 10px; margin-left: 10px;"></i> </a>

    <h1 style="text-align:center; font-style: italic;"> Kashmiri Recipes </h1>

    <div class="flex-container">
        <div>
            <button onclick="window.location='{% url 'dumAloo' %}';">
            <img src="{% static 'all_recipe/images/kashmiri/Dum Aloo.png' %}" alt="Dum Aloo" style="width:100%">
            <h3> Dum Aloo </h3>
            </button>
        </div>
        <div>
            <button onclick="window.location='{% url 'saag' %}';">
            <img src="{% static 'all_recipe/images/kashmiri/Kashmiri Saag.png' %}" alt="Kashmiri Saag" style="width:100%">
            <h3> Kashmiri Saag </h3>
            </button>
        </div>
        <div>
            <button onclick="window.location='{% url 'muttonRibs' %}';">
            <img src="{% static 'all_recipe/images/kashmiri/Kashmiri style mutton ribs.png' %}" alt="Mutton Ribs" style="width:100%">
            <h3> Kashmiri Mutton Ribs </h3>
            </button>
        </div>
        <div>
            <button onclick="window.location='{% url 'khatteBaingan' %}';">
            <img src="{% static 'all_recipe/images/kashmiri/Khatte Baingan.png' %}" alt="Khatte Baingan" style="width:100%">
            <h3> Khatte Baingan </h3>
            </button>
        </div>
        <div>
            <button onclick="window.location='{% url 'roganJosh' %}';">
            <img src="{% static 'all_recipe/images/kashmiri/Mutton Rogan Josh.png' %}" alt="Rogan Josh" style="width:100%">
            <h3> Rogan Josh </h3>
            </button>
        </div>
        <div>
            <button onclick="window.location='{% url 'nadrooYakhni' %}';">
                <img src="{% static 'all_recipe/images/kashmiri/Nadroo Yakhni.png' %}" alt="Nadroo Yakhni" style="width:100%">
                <h3> Nadroo Yakhni </h3>
            </button>
        </div>
    </div>
    </div>
    
{% endblock %}
