{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
    Batter Fried Fish With Cheese Sauce Recipe
{% endblock %}

{% block recipeName %}
    Batter Fried Fish With Cheese Sauce
{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/continental/batterfriedfish.jpg' %}" alt="batterfriedfishwithcheesesauce" class="center">
{% endblock %}

{% block description %}
    Fish coated in batter, fried crisp and topped with a cheesey sauce.
{% endblock %}

{% block prepTime %} 05 Min {%endblock%}
{% block cookTime %} 40 Min {%endblock%} 
{% block totalTime %} 45 Min {%endblock%} 
{% block servings %} 4 people {%endblock%} 

{% block ingredients %}
    <li>8 (750 gm) fish fillets</li>
    <li>1 Tbsp lemon juice</li>
    <li>1 tsp salt</li>
    <li>2 Tbsp all purpose flour for dusting</li>
    <li>Oil for deep-frying</li>
    <li>Chopped greens for garnish</li>
    <h2 style="font-size: 150%;">For the batter:</h2>
    <li>1/2 cup (60 gm) all purpose flour</li>
    <li>1 Tbsp (15 gm) oil</li>
    <li>1/2 cup water</li>
    <li>1 egg, white only</li>
    <li>1 tsp salt or to taste</li>
    <h3 style="font-size: 150%;">For the sauce:</h3>
    <li>2 cups (480 gm) milk</li>
    <li>2 Tbsp (15 gm) all purpose flour</li>
    <li>1 Tbsp oil</li>
    <li>1 tsp salt or to taste</li>
    <li>1/4 tsp powdered black pepper</li>
    <li>1 cup (120 gm) cheese, grated</li>
{% endblock %}

{% block recipe %}
    <ol>
        <li>Marinate fish, lemon juice and salt for 5 minutes and wash off.</li>
        <li>From the batter ingredients, mix together the flour, salt and oil. Add the water gradually, mix into a batter and keep aside.</li>
        <li>Heat oil and add flour. Saute till flour emanates an aroma. Take pan off the fire and add milk, stirring vigorously all the time to avoid lumps. Put pan back over heat and bring to a boil, stirring continuously. Season with salt and pepper and add the cheese to mix well. Take off the heat and keep aside.</li>
        <li>Wash and wipe the fish dry. Dust lightly with flour, patting off any excess flour.</li>
        <li>Heat oil for frying, and while it is heating, whip egg-white stiff and fold into the batter.</li>
        <li>When oil is ready, dip the fish into the batter, shake off the excess and fry to a very light golden on both sides. Place it on an absorbent paper to drain off the excess fat.</li>
        <li>Immediately before serving, fry the fish once again in hot oil, drain and arrange in a serving dish. Pour some of the hot cheese sauce over it (serving the rest of it on the side) and garnish with the greens.</li>
    </ol>
{% endblock %}

{% block nutrition %}
    Energy : 2110 cal, Protein : 18.3 g, Carbohydrates : 19.6 g, Fiber : 10.2g
{% endblock %}
