{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
    Chicken Manchurian Recipe
{% endblock %}

{% block recipeName %}
    Chicken Manchurian
{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/continental/chickenmanchurian.jpeg' %}" alt="chickenmanchurian" class="center">
{% endblock %}

{% block description %}
    Made from authentic Chinese flavors, this dish is a must try! Chicken manchurian is a dish relished by all age groups as a starter dish at parties. Fried chicken balls cooked in a spicy sauce batter and served with steamed rice or hakka noodles. A traditional Chinese dish that can be made at home by some simple ingredients and method.
{% endblock %}

{% block prepTime %} 20 Min {%endblock%}
{% block cookTime %} 60 Min {%endblock%} 
{% block totalTime %} 80 Min {%endblock%} 
{% block servings %} 4 people {%endblock%} 

{% block ingredients %}
    <li>250 Gram Chicken mince</li>
    <li>2 Eggs (slightly beaten)</li>
    <li>3/4 cup Refined flour</li>
    <li>1/2 tsp Garlic paste</li>
    <li>1/2 tsp Ginger paste</li>
    <li>for deep frying Oil</li>
    <li>2 tbsp Oil</li>
    <li>1 tsp Garlic, finely chopped</li>
    <li>1/2 cup Onions, finely chopped</li>
    <li>1 large Capsicum, finely chopped</li>
    <h2 style="font-size: 150%;">For sauce, mix together:</h2>
    <li>3 tbsp Corn flour (blended)</li>
    <li>1/2 cup Water</li>
    <li>2 tbsp Vinegar</li>
    <li>2 tsp Salt</li>
    <li>2 tsp Soya sauce</li>
    <li>1/2 cup Tomato puree</li>
    <li>2 tbsp Celery, chopped</li>
    <li>2 cups Water</li>
{% endblock %}

{% block recipe %}
    <ol>
        <li>Mix together the chicken, egg, flour, garlic and ginger paste, enough water so as to have a thick batter. Leave this for 5-10 minutes.</li>
        <li>Heat the oil, keeping the heat high drop heaped teaspoonfuls of batter and fry to a golden brown. Drain on absorbent paper till required.</li>
        <li>Heat 2 Tbsp of oil, and stir-fry the garlic and onion in it over high heat, till the onions look glossy. Add the capsicum and turn around a few times.</li>
        <li>Add the sauce mixture, and simmer till the sauce thickens and becomes translucent.</li>
        <li>Add the fried balls, turn around a few times and serve.</li>
    </ol>
{% endblock %}

{% block nutrition %}
    Energy : 1987 cal, Protein : 21.9 g, Carbohydrates : 17.5 g, Fiber : 11.1g
{% endblock %}
