{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
    Schezwan Fried Rice Recipe
{% endblock %}

{% block recipeName %}
    Schezwan Fried Rice
{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/continental/schezwanfriedrice.jpg' %}" alt="schezwanfriedrice" class="center" height="450px">
{% endblock %}

{% block description %}
    Rice with chicken, prawns and an assortment of veggies.
{% endblock %}

{% block prepTime %} 15 Min {%endblock%}
{% block cookTime %} 40 Min {%endblock%} 
{% block totalTime %} 55 Min {%endblock%} 
{% block servings %} 4 people {%endblock%} 

{% block ingredients %}
    <li>250 Gram Long-grain basmati rice</li>
    <li>1 Carrot (washed and peeled), chopped</li>
    <li>1/4 Cup French beans (washed), finely chopped</li>
    <li>1 Medium Green capsicum (washed, de-seeded), finely chopped</li>
    <li>3 Spring onions (washed), chopped</li>
    <li>1 Cup Chicken, shredded</li>
    <li>1/2 Cup Shrimps (cooked), small</li>
    <li>2 Tbsp Soya sauce</li>
    <li>1 Tbsp Celery (washed, ends trimmed), chopped</li>
    <li>1/2 Tbsp Chilli sauce</li>
    <li>1 Tbsp Vinegar</li>
    <li>1 Tbsp Worcestershire sauce</li>
    <li>1/2 Tbsp Chinese salt (optional)</li>
    <li>1/4 tsp Salt</li>
    <li>1 Onion, sliced</li>
    <li>3-5 drops Oil</li>
    <li>1 Garlic, chopped</li>
    <li>1/2 Cup Tinned mushrooms-washed, drained and chopped or fresh mushrooms-washed and chopped (optional)</li>
{% endblock %}

{% block recipe %}
    <ol>
        <li>Put a tsp of oil in a vessel. Fry the onion till transparent.</li>
        <li>Add carrots, beans, capsicum, celery, spring onion and mushrooms, if desired.</li>
        <li>Cook for a few minutes until they begin to turn brown. Transfer to another vessel.</li>
        <li>Now, fry the chicken and prawns.</li>
        <li>Pour a little oil in the vessel. Add chopped garlic.</li>
        <li>When it turns brown, remove it and keep aside.</li>
        <li>Once the oil is flavoured with garlic, put the rice in the same vessel of oil. Fry it for 5 minutes.</li>
        <li>Add all the vegetables, chicken and prawns.</li>
        <li>Cook the rice in the chicken stock.</li>
        <li>When the rice is cooked, add all the sauces.</li>
        <li>Increase heat and fry for 5 minutes. Stir and serve hot.</li>
    </ol>
{% endblock %}

{% block nutrition %}
    Energy : 1334 cal, Protein : 14.9 g, Carbohydrates : 23.5 g, Fiber : 17.9g
{% endblock %}
