{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <head>
            <meta charset="utf-8">
            <title> {% block title %} {% endblock %} </title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Merienda+One' >
            {% block css %} <link rel="stylesheet" href="{% static 'all_recipe/template.css' %}"> {% endblock %}
        </head>
    
        {% block script %} {% endblock %}
        
    </head>
    <body> 
        {% block body %}
        {% endblock %}
    </body>
</html>