{% extends "all_recipe/layout.html" %}
{% load static %}

{% block title %}
    Login Page
{% endblock %}

{% block css%} {% endblock %}

{% block body %}

    <h1 style="font-family: monospace; text-align: center; padding: 10px;"> Welcome to All Recipe. Please Login to continue. </h1>

    <h2 style="padding: 15px; text-decoration: underline;">Login</h2>

    {% if message %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post" style="padding: 15px;">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form> 

    <span style="padding: 15px;;"> Don't have an account? <a href="{% url 'register' %}">Register here.</a> </span>

    <img src = "{% static 'all_recipe/images/initial_quote.jpg' %}" width="25%" style="position: absolute; right: 0px; bottom: 0px; float: right;">   

{% endblock %}


