{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
    Aamti Recipe
{% endblock %}

{% block recipeName %}
    Aamti
{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/maharashtrian/Aamti.png' %}" alt="Aamti" class="center">
{% endblock %}

{% block description %}
    An appetizing Maharashtrian style dal made with yellow gram dal. Tempered with chillies, garam masala, curry leaves and mustard 
    seeds.
{% endblock %}

{% block prepTime %} 05 Min {%endblock%}
{% block cookTime %} 30 Min {%endblock%} 
{% block totalTime %} 35 Min {%endblock%} 
{% block servings %} 2 people {%endblock%} 

{% block ingredients %}
    <li>1/2 cup yellow gram dal</li>
    <li>1 stalk curry leaves</li>
    <li>1 bay leaf</li>
    <li>3 cloves</li>
    <li>2 green chillies</li>
    <li>1/2 Tbsp coriander finely chopped</li>
    <li>1 tsp black maharashtrian masala (use paav bhaji masala or goda masala)</li>
    <li>1/4 tsp garam masala</li>
    <li>1/4 tsp coriander seed</li>
    <li>Turmeric powder</li>
    <li>Salt to taste</li>
    <li>6-7 kokams soaked in 1/2 cup water</li>
    <li>4 cups water</li>
    <li>1 Tbsp oil or ghee</li>
    <li>1/2 tsp each cumin & mustard seeds</li>
{% endblock %}

{% block recipe %}
    <ol>
        <li>Wash and soak daal for 15 minutes. Then pressure cook it till very soft (4 whistles).</li>
        <li>Cool cooker and remove drain water from daal and save.</li>
        <li>Knead the kokams between fingers. Then press out and remove.</li>
        <li>Keep the water aside. Then grind daal to a fine paste either on stone or in a mixie.</li>
        <li>Mix with water and residual water of daal. Blend well till smooth.</li>
        <li>Heat oil in a deep saucepan. Add seeds, curry leaves, allow to splutter.</li>
        <li>Add slit chillies, cloves, bay leaf, and saute for one minute.</li>
        <li>Add kokam water. Make paste of masalas in 1/4 cup water.</li>
        <li>Add paste, fry further for one minute. Add daal, bring to a boil and simmer for 8-10 minutes.</li>
        <li>Garnish with chopped coriander and serve hot.</li>
    </ol>
{% endblock %}

{% block nutrition %}
    Energy : 287 cal, Protein : 10.9 g, Carbohydrates : 37.5 g, Fiber : 8.1g
{% endblock %}




