{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
Batata Vada Recipe
{% endblock %}

{% block recipeName %}
Batata Vada

{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/maharashtrian/Batata Vada.png' %}" alt="Batata Vada" class="center">
{% endblock %}

{% block description %}
Batata translates into potato in English. Mashed masaledar potatoes coated in a thick besan (chickpea flour) batter and deep fried till golden. Batata vada is a street food delight tat you can easily prepare at home during the monsoon season or usually as an evening snack.
{% endblock %}

{% block prepTime %} 05 Min {%endblock%}
{% block cookTime %} 30 Min {%endblock%} 
{% block totalTime %} 35 Min {%endblock%} 
{% block servings %} 4 people {%endblock%} 

{% block ingredients %}
    <li>600 gms potatoes</li>
    <li>for deep frying oil</li>
    <li>Tempering:</li>
        <li>5 gms mustard seeds
        </li>
    <li>2 gms curry leaves
        </li>
    <li>5 gms turmeric powder
        </li>
    <li>3 gms red chilli powder
        </li>
    <li>10 gms green chillies
       </li>
    <li> 10 gms ginger
        </li>
    <li>10 gms garlic
        </li>
    <li>1 lime
        </li>
    <li>10 gms coriander leaves
        </li>
    <li>Salt
        </li>
    <li>Batter:</li>
        <li>200 gms gram flour
        </li>
    <li>Water
        </li>
    <li>5 gms red chilli powder
        </li>
    <li>5 gms turmeric
        </li>
    <li>3 gms cumin (crushed)
       </li>
    <li>Salt
    </li>
    <li>2 gms soda bi-carb</li>
{% endblock %}

{% block recipe %}
    <ol>
        <li>Cook the potatoes until soft, peel and mash coarsely.</li>
        <li>Chop or crush together the green chillies, garlic, ginger and the coriander leaves.</li>
        <li>Using the mentioned ingredients make a thick batter.</li>
        <li>Heat oil and add mustard seeds, after they crackle add the curry leaves.</li>
        <li>Mix in all the rest of the tempering ingredients and add to the mashed potatoes.</li>
        <li>Divide the potato mixture into equal sized portions, approximately the size of a lemon.</li>
        <li>Dip each ball in the batter and deep fry until golden brown in color.</li>
        <li>Serve hot with a chutney.</li>
       

    </ol>
{% endblock %}

{% block nutrition %}
Carbs: 43g, Fats:7.8g, Protien:6.6g
{% endblock %}