{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
Pudachi Wadi Recipe
{% endblock %}

{% block recipeName %}
Pudachi Wadi

{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/maharashtrian/Pudachi Wadi.png' %}" alt="Pudachi Wadi" class="center">
{% endblock %}

{% block description %}
An authentic Maharashtrian pudachi wadi recipe. Besan casing stuffed with a onion-coriander filling with poppy seeds and copra.
{% endblock %}

{% block prepTime %} 15 Min {%endblock%}
{% block cookTime %} 30 Min {%endblock%} 
{% block totalTime %} 45 Min {%endblock%} 
{% block servings %} 4 people {%endblock%} 

{% block ingredients %}
        <li>For the stuffing:</li>
        <li>5-6 Tbsp khus khus</li>
        <li>1 cup copra</li>
        <li>3 Tbsp oil</li>
        <li>2 tsp mustard seeds</li>
        <li>2 tsp zeera</li>
        <li>Hing, to taste (From a pinch to 1 tsp)</li>
        <li>1 tsp turmeric powder</li>
        <li>3-4 medium onions, chopped</li>
        <1i>tsp ginger-garlic paste</li>
        <1i>1-2 tsp green chilli paste</li>
        <1i>1 Tbsp charoli</li>
        <1i>1 tsp red chilli powder</li>
        <1i>1 tsp dhaniya powder</li>
        <1i>1 tsp zeera powder</li>
        <1i>1 tsp goda masala</li>
        <1i>1 1/2 bunch corriander, chopped</li>
        <1i>Juice of 1/2 lemon</li>
        <1i>For the outer casing:</li>
        <1i>2 cups gram flour (besan)</li>
        <1i>3/4 cup of whole wheat flour (atta)</li>
        <1i>Salt, to taste</li>
        <1i>1 tsp turmeric powder</li>
        <1i>1/2 tsp dhaniya powder</li>
        <1i>1/2 tsp zeera</li>
        <1i>1/2 tsp red chilli powder</li>
        <1i>3-4 tsp refined oil</li>
        <1i>Water, to knead the dough</li>
        <1i>1 tbsp goda masala mixed with 1 tsp oil</li>
        <li>Oil (to deep fry)</li>
   

    
{% endblock %}

{% block recipe %}
    <ol>
        <h3> <u> For the stuffing:</u></h3>
        <li>In a pan dry roast poppy seeds and copra for 3-4 minutes. Cool. Grind in a mixie. Keep aside.</li>
        <li>In a wok add oil. In the heated oil add mustard seeds, zeera, hing and turmeric. Let the seeds splutter.</li>
        <li>Add the onions. Saute till pink.</li>
        <li>Add the ginger-garlic paste, green chilli paste, charoli, red chilli powder, dhaniya powder, zeera powder, goda masala. Saute.</li>
        <li>Add chopped coriander leaves and lemon juice. Saute.</li>
        <li>Add the copra-poppy seed paste. Mix well. Keep aside.</li>
        <h3> <u>For the outer casing:</u></h3>
        <li>In a bowl add besan, atta, salt, turmeric, zeera powder, dhaniya powder, red chilli powder. Knead with water. This dough need to be stiffer than the regular dough for chapatis.</li>
        <li>Finish by kneading for 1 minute with a little oil. Your dough is ready.</li>
        <li>Make flat rounds like you do for chapatis. Apply a little goda masala-oil. Place 2-3 Tbsp of the filling. Seal it from all sides.</li>
        <li>Deep fry till golden.</li>
        <li>Cut and serve with chutneys of our choice.</li>
    </ol>
{% endblock %}

{% block nutrition %}
    Energy : 287 cal, Protein : 10.9 g, Carbohydrates : 37.5 g, Fiber : 8.1g
{% endblock %}