{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
Puran Poli Recipe
{% endblock %}

{% block recipeName %}
Puran Poli

{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/maharashtrian/Puran Poli.png' %}" alt="Puran Poli" class="center">
{% endblock %}

{% block description %}
Food is the ultimate spirit of any festive occasion and the popular Maharashtrian dish puran poli defines the festival of Ganesh Chaturthi and other festive occasions like Diwali. It is an easy recipe of flat bread stuffed with a sweet lentil filling made from chana dal and sugar. You can use Bengal gram and jaggery too. In Marathi language, the sweet filling is called puran and the outer bread is the poli. It is a delicious side dish with rich flavours yet extremely easy and quick to make.
{% endblock %}

{% block prepTime %} 30 Min {%endblock%}
{% block cookTime %} 25 Min {%endblock%} 
{% block totalTime %} 55 Min {%endblock%} 
{% block servings %} 2 people {%endblock%} 

{% block ingredients %}
    <li>For mixture:</li>
    <li>1 cup Chana Dal (washed)</li>
    <li>3 cups Water</li>
    <li>1 cup Sugar</li>
    <li>1 tsp Cardamom Powder</li>
    <li>Nutmeg, grated</li>
    <li>For making dough:</li>
    <li>2 cups Maida</li>
    <li> 1 tsp Salt </li>
    <li>2 tbsp Ghee</li>
    <li>1 cup Water</li>
   
{% endblock %}

{% block recipe %}
    <ol>
        <li>Take Chana dal in a pressure cooker, add water and pressure cook it for about a minute (3-4 whistles).</li>
        <img src="{% static 'all_recipe/images/maharashtrian/poli1.jpg' %}" alt="poli1" class="smol">
        <li>Drain the water and mash it coarsely. Now in a pressure cooker pour the mashed dal and add sugar. Mix it thoroughly and cook slowly.</li>
        <img src="{% static 'all_recipe/images/maharashtrian/poli2.jpg' %}" alt="poli2" class="smol">
        <li>Add cardamom powder along with grated nutmeg to it and mix thoroughly.</li>
        <img src="{% static 'all_recipe/images/maharashtrian/poli3.jpg' %}" alt="poli3" class="smol">
        <li>Continue stirring on low flame until it gets dry.</li>
        <li>Let the mixture cool down.</li>
        <h3> <u>Prepare the dough:</u></h3>
        <li>Take maida in a bowl.</li>
        <img src="{% static 'all_recipe/images/maharashtrian/poli4.jpg' %}" alt="poli4" class="smol">
        <li>Add salt and ghee. Mix well.</li>
        <img src="{% static 'all_recipe/images/maharashtrian/poli5.jpg' %}" alt="poli5" class="smol">
        <li>Add sufficient amount of water and make semi-soft dough.</li>
        <img src="{% static 'all_recipe/images/maharashtrian/poli6.jpg' %}" alt="poli6" class="smol">
        <li>Wrap the bowl with a plastic sheet or damp cloth and leave it for 30 minutes.</li>
        <img src="{% static 'all_recipe/images/maharashtrian/poli7.jpg' %}" alt="poli7" class="smol">
        <h3> <u>Prepare Puran Poli:</u></h3>
        <li>Make flat balls out of the dough like we make for chapatis.</li>
        <li>Dust it using maida flour and roll it in round shape with a roller.</li>
        <img src="{% static 'all_recipe/images/maharashtrian/poli8.jpg' %}" alt="poli8" class="smol">
        <li>Fill the puran (stuffing) in it and then cover the edges. Roll it out again in round shape.</li>
        <img src="{% static 'all_recipe/images/maharashtrian/poli9.jpg' %}" alt="poli9" class="smol">
        <li>Heat tawa and cook the puran poli on both sides with lots of ghee.</li>
        <img src="{% static 'all_recipe/images/maharashtrian/poli10.jpg' %}" alt="poli10" class="smol">
        <li>Puran poli is ready to eat. Serve it hot with some more ghee poured over.</li>
        <img src="{% static 'all_recipe/images/maharashtrian/poli11.jpg' %}" alt="poli11" class="smol">

    </ol>
{% endblock %}

{% block nutrition %}
Carbs: 43g, Fats:7.8g, Protien:6.6g
{% endblock %}