{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
Aam Shrikhand with Mango Salad Recipe
{% endblock %}

{% block recipeName %}
Aam Shrikhand with Mango Salad

{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/gujarati/Aam Shrikhand with Mango Salad.png' %}" alt="Aam Shrikhand with Mango Salad" class="center">
{% endblock %}

{% block description %}
A summer season special, experiment and try some of the best innovative mango recipes like this one here. Whip up some sweet comfort salad dessert with a soothing mix of yogurt, cream, mangoes, milk, saffron and cardamom. Mango with Shrikhand is a heavenly combination one can have in summers! Shrikhand being a creamy and luscious indian dessert is paired with the king of fruits. Extract the best of this pulpy summer fruit with this delicious recipe which sounds as delicious as it can get.
{% endblock %}

{% block prepTime %} 10 Min {%endblock%}
{% block cookTime %} 30 Min {%endblock%} 
{% block totalTime %} 40 Min {%endblock%} 
{% block servings %} 4 people {%endblock%} 

{% block ingredients %}
    <li>1 Cup Hung yogurt (hung curd)</li>
    <li>1/2 tsp Saffron</li>
    <li>1 Fresh mangoes, chopped</li>
    <li>1 tsp Cardamom powder</li>
    <li>3/4 Cup Castor sugar</li>
    <li>1/2 Cup Mango puree</li>
    <li>For mango salad:</li>
    <li>1 Lemon (juiced)</li>
    <li>20 Gram Mint</li>
    <li>2 tsp Chaat masala</li>
    
{% endblock %}

{% block recipe %}
    <ol>
        <li>Whisk hung curd and castor sugar together.</li>
        <img src="{% static 'all_recipe/images/gujarati/aam1.jpg' %}" alt="aam1" class="smol">
        <li>Add the mango puree and whisk some more until smooth.</li>
        <img src="{% static 'all_recipe/images/gujarati/aam2.jpg' %}" alt="aam2" class="smol">
        <li>Now put saffron and cardamom powder to the mixture and mix again.</li>
        <img src="{% static 'all_recipe/images/gujarati/aam3.jpg' %}" alt="aam3" class="smol">
        <li>Add the chopped mango pieces and whisk again to make a thick mixture</li>
        <img src="{% static 'all_recipe/images/gujarati/aam4.jpg' %}" alt="aam4" class="smol">
        <li>Prepare mango salad by mixing diced mango with lemon juice, mint and chaat masala.</li>
        <li>Serve the Aam Shrikhand chilled along with the mango salad.</li>
        <img src="{% static 'all_recipe/images/gujarati/aam5.jpg' %}" alt="aam5" class="smol">
    </ol>
{% endblock %}

{% block nutrition %}
Carbs: 43g, Fats:7.8g, Protien:6.6g
{% endblock %}