{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
Handvo Recipe
{% endblock %}

{% block recipeName %}
Handvo

{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/gujarati/Handvo.png' %}" alt="Handvo" class="center" height="500px">
{% endblock %}

{% block description %}
A traditional Gujarati savoury cake. It is made with a combinations of lentils, rice and buttermilk.
{% endblock %}

{% block prepTime %} 10 Min {%endblock%}
{% block cookTime %} 30 Min {%endblock%} 
{% block totalTime %} 40 Min {%endblock%} 
{% block servings %} 4 people {%endblock%} 

{% block ingredients %}
    <li>1 medium bottle gourd</li>
    <li>3 Tbsp coriander chopped</li>
    <li>3-4 green chillies finely chopped</li>
    <li>3 cups buttermilk</li>
    <li>3 tsp soda bi-carb</li>
    <li>1 tsp each urad and channa dal</li>
    <li>1 tsp each cumin and mustard seeds</li>
    <li>4-5 Tbsp oil</li>
    <li>salt to taste</li>
    <li>For grinding together:</li>
    <li>1 cup rice</li>
    <li>1 cup yellow moong dal</li>
{% endblock %}

{% block recipe %}
    <ol>
        <li>Take butter milk in a large vessel.</li>
        <li>Add salt, soda and flour, mix well.</li>
        <li>Keep it aside for 6-7 hours.</li>
        <li>Grate bottle gourd and squeeze out excess water.</li>
        <li>Then add gourd, coriander and green chillies.</li>
        <li>Heat oil in a pan, add urad & channa dals, and seeds.</li>
        <li>Allow to splutter, pour half in the batter and mix it thoroughly.</li>
        <li>Put it in a greased oven proof deep container.</li>
        <li>Pour remaining seasoning on top.</li>
        <li>Place in a preheated oven at 280oC for 10 minutes.</li>
        <li>Reduce to 200 C or 180 C for 40 minutes or till done.</li>
        <li>Check by inserting a skewer, which should come out clean.</li>
        <li>Slice into wedges and serve hot.</li>
        
        
    </ol>
{% endblock %}

{% block nutrition %}
Carbs: 43g, Fats:7.8g, Protien:6.6g
{% endblock %}