{% extends "all_recipe/recipes/recipeLayout.html" %}
{% load static %}

{% block title %}
Khandvi Recipe
{% endblock %}

{% block recipeName %}
Khandvi

{% endblock %}

{% block image %}
    <img src="{% static 'all_recipe/images/gujarati/Khandvi.png' %}" alt="Khandvi" class="center">
{% endblock %}

{% block description %}
Also known as Patuli, Khandvi is a popular Gujarati as well as Maharashtrian savoury snack recipe that has a huge fan following across the borders. It is primarily made from sour yogurt and gram flour with generous tempering of spices and chillies. A healthy and tasty snack to make at home when friends and family gets together.
{% endblock %}

{% block prepTime %} 15 Min {%endblock%}
{% block cookTime %} 1 hr {%endblock%} 
{% block totalTime %} 1 hr 15 Min {%endblock%} 
{% block servings %} 5 people {%endblock%} 

{% block ingredients %}
    <li>60 gms besan (gram flour)</li>
    <li>60 gms khatta dahi (sour yogurt)</li>
    <li>375 ml water</li>
    <li>1/2 tsp ginger paste</li>
    <li>1/2 tsp green chilli paste</li>
    <li>1/2 tsp red chilli powder</li>
    <li>1 tsp salt</li>
    <li>1/8 tsp heeng (asafoetida)</li>
    <li>1/8 tsp haldi (turmeric)</li>
    <li>For tempering:</li>
    <li>2 tsp oil</li>
    <li>1/2 tsp sarson (mustard seeds)</li>
    <li>2 sasirch (dried whole red pepper)</li>
    <li>4-5 Kadhi patta (curry leaves)</li>
    <li>1 tbsp hara dhania (coriander leaves) chopped fine</li>
    <li>1/4 cup coconut, grated</li>    
{% endblock %}

{% block recipe %}
    <ol>
        <li>Place flour in a deep, heavy based pan (the pan should be large, as there is a lot of spurting while cooking).</li>
        <li>Add ginger-chilli paste, chilli powder, salt, heeng and haldi, and mix. Now add the yogurt, a little at a time, so as to form a smooth paste, without any lumps, and then the water.</li>
        <li>Place the pan over high heat, and bring to a boil, stirring all the time (to avoid scorching).</li>
        <li>Keep cooking and stirring till you reach a paste like consistency, increasing or decreasing the heat according to your ability to avoid scorching.</li>
        <li>It is cooked enough, when you separate a portion of it from the rest with a stirrer and you can see the bottom of the pan, which gets covered gradually (if it gets covered immediately, it is too thin). Another test is to spread a tsp of the batter on to an ungreased surface, when cool, it should come off clean.</li>
        <li>With the help of a rubber spatula spread the mixture onto an ungreased surface, in as thin a layer as possible and leave to cool.</li>
        <li>Heat the oil in a small pan and add the sarson, kadhi patta and sabut lal mirch. Stir a few times and then spread over the layer. Sprinkle all but 1 tbsp of the coriander and 1tbsp of the coconut over it, and pick up the lal mirch and keep aside.</li>
        <li>Cut this layer into strips roll up each strip like a scroll, as firmly as you can, without breaking them.</li>
        <li>Arrange them on to a serving dish. Garnish with the rest of the coriander, coconut and peppers. Serve.</li>
        
    </ol>
{% endblock %}

{% block nutrition %}
Carbs: 43g, Fats:7.8g, Protien:6.6g
{% endblock %}