body {
  background-color: violet;
  font-family: 'Times New Roman', Times, serif;
  background-image: url("images/food_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}


* {
    box-sizing: border-box;
  }
  
  img {
      width:  100px;
      height: 300px;
      object-fit: cover;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

